<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Store Layout</title>
</head>
<body>
  <h1>This is the store</h1>
  <a href="/login">login</a>
  <a href="/products/new">New Product</a>
  <a href="/products">Products</a>
  <div>
    <%= yield %>
  </div>
</body>
</html>
