<%= @post.title %>
<%= @post.content %>
<h1>Comments</h1>
<div class="container" id="comments">

</div>
<script type="text/javascript">
  function loadComments () {
     $.ajax({
       type: 'GET',
       contentType: 'application/javascript',
       url: '<%= post_comments_path @post %>'
    })
  }
  $(document).on('turbolinks:load', function () {
    loadComments()
  })
</script>
