<h1>New Product</h1>
<form action="/products" method="post">
  <label for="product[name]">
    Name:
    <input type="text" name="product[name]">
  </label>
  <label for="product[currency]">
    Currency:
    <input type="currency" name="product[currency]">
  </label>
  <label for="product[price]">
    Price:
    <input type="number" name="product[price]">
  </label>
  <input type="submit" name="submit">
</form>
